[*.cs]

dotnet_diagnostic.IDE0028.severity = none

# SonarSource
dotnet_diagnostic.S108.severity = none
dotnet_diagnostic.S125.severity = none
dotnet_diagnostic.S1075.severity = none
dotnet_diagnostic.S2486.severity = none
